<html>
<head>
</head>
<body>
<form action="/addsite" method="POST">
	Site Name<br>
<input type="text" name="site"><br>
Username<br>
<input type="text" name="uname"><br>
Password<br>
<input type="text" name="pwd">
<button type="Submit">SUBMIT</button>
</form>
</body>
</html>